body{
    background-image: url(../images/qbkls.png);
    background-repeat: repeat;
}

#side-nav-header{
    font-size: 2em !important;
    font-weight: 349;
}

#about-pic{
    max-width: 33%;
}

ul{
    list-style-type: none;
}

li{
    float: left;
}